<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Demo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>
        <section class="container mx-auto">
            <header class="text-2xl">
                {% block header %}{% endblock %}
            </header>

            {% block content %}{% endblock %}

        </section>
    </body>
</html>
