{% extends 'base.html' %}

{% block title %}Table{% endblock %}

{% block header %}
<h2>Example Table in TailwindCSS</h2>
{% endblock %}

{% block content %}

{% set options = data[0].keys() %}
<table class="w-full table-auto">
    <thead>
        <tr>
            {% for opt in options %}
            <th>{{ opt }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for d in data %}
        <tr>
            {% for opt in options %}
            <td>{{ d[opt] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
